Repository kymata-atlas/kymata-core, pull requests merged in 2024-06, with the labels that each got.

#276 Gridsearch refactor - Step 1 - npy-ifying the inv-sols and morphmaps
  dataset_config/dataset4.1.yaml
  invokers/run_gridsearch.py
  kymata/io/functions.py
  kymata/preproc/get_invsol_npy.py
  kymata/preproc/source.py
Labels: ✅ ready-for-merging, ⚙️ refactor, gridsearch, preprocessing

#282 Add logging setup to all invokers
  README.md
  invokers/invoker_create_trialwise_data.py
  invokers/invoker_estimate_noise_cov_matrix.py
  invokers/invoker_run_data_cleansing.py
  invokers/invoker_run_hexel_current_estimation.py
  invokers/invoker_run_nkg_plotting.py
  invokers/run_gridsearch.py
  kymata/gridsearch/plain.py
  kymata/io/cli.py
  kymata/io/logging.py
  kymata/preproc/data_cleansing.py
  kymata/preproc/hexel_current_estimation.py
  kymata/preproc/source.py
Labels: ✅ ready-for-merging

#290 Apply stimulus shift and latency correction inside gridsearch, not in the preprocessing steps
  dataset_config/dataset3.yaml
  dataset_config/dataset4.1.yaml
  dataset_config/dataset4.yaml
  invokers/invoker_create_trialwise_data.py
  invokers/run_gridsearch.py
  kymata/gridsearch/plain.py
  kymata/preproc/data_cleansing.py
  kymata/preproc/source.py
  submit_gridsearch.sh
Labels: 🪲 bug, ⚙️ refactor, gridsearch, preprocessing

#301 Bugfix: mismatched dimensions error when running gridsearch
  kymata/preproc/data_cleansing.py
  kymata/preproc/get_invsol_npy.py
  kymata/preproc/premorph.py
  kymata/preproc/source.py
Labels: gridsearch
