Repository kymata-atlas/kymata-core, pull requests merged in 2024-11, with the labels that each got.

#396 Rename `function` → `transform`
  README.md
  demos/demo_ippm.ipynb
  demos/demo_plotting.ipynb
  demos/demo_save_load.ipynb
  docs/overview.md
  kymata/entities/datatypes.py
  kymata/entities/expression.py
  kymata/entities/sparse_data.py
  kymata/entities/transform.py
  kymata/gridsearch/plain.py
  kymata/invokers/run_gridsearch.py
  kymata/io/functions.py
  kymata/io/matlab.py
  kymata/io/nkg.py
  kymata/io/nkg_compatibility.py
  kymata/io/transform.py
  kymata/ippm/data_tools.py
  kymata/ippm/denoising_strategies.py
  kymata/ippm/plot.py
  kymata/plot/color.py
  kymata/plot/plot.py
  submit_gridsearch.sh
  tests/ippm_unittests/data_tools.py
  tests/test_expression.py
  tests/test_functions.py
  tests/test_ippm_data_tools.py
  tests/test_plotting.py
  tests/test_saveload_nkg.py
  tests/test_transforms.py
Labels: 👷 design standards, ⚙️ refactor

#398 Expression plots with select time windows
  demos/demo_plotting.ipynb
  kymata/entities/expression.py
  kymata/plot/plot.py
  tests/test_expression.py
Labels: 💪 enhancement, 📈 plotting functionality

#415 141 fix plotting minimap crop
  demos/demo_plotting.ipynb
  kymata/plot/plot.py
Labels: 🪲 bug, 📈 plotting functionality
